*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    block-size: 100%;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    text-rendering: optimizeSpeed;       /* Optional */
    -webkit-font-smoothing: antialiased; /* Optional */
}

img, picture, video, canvas, svg {
    display: block;
    max-inline-size: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    hyphens: auto;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

#root {
    isolation: isolate;
}